.p-panel-content
    background: #212121

.p-element
    margin: 1rem

.info
    display: flex
    flex-wrap: nowrap
    align-items: center
    justify-content: space-between
    padding: 0.5rem 1rem
    margin: 0.5rem 1rem 1rem 1rem
    text-align: center

.center
    display: flex
    flex-wrap: nowrap
    align-items: center
    justify-content: center
