<p-panel [showHeader]="false">
    <h3 class="center">{{calendar.date}}</h3>
    <div class="info">
        <div class="hours">
            <p class="hourStart">{{calendar.hourStart}}</p>
            <p class="hourEnd">{{calendar.hourEnd}}</p>
        </div>
        <div class="content">
            <h4>{{calendar.name}}</h4>
            <p>{{calendar.professor}}</p>
        </div>
    </div>

</p-panel>