<div class="user-button">
    <button pButton class=" p-button-rounded" type="button" label="T" (click)="menu.toggle($event)"></button>
    <p-menu #menu class="menu" [popup]="true" [model]="items"></p-menu>
</div>