$font-color: #000000
$font-family: 'Inter', sans-serif
$primary-color: #D9D9D9
$background-color: #FFFFFF
$hover-color: #DEDEDE

:host
    ::ng-deep
        .user-button
            display: flex
            justify-content: flex-end
            button
                font-size: 32px
                background-color: $primary-color
                color: $font-color
                border-color: $primary-color
            button:focus
                background-color: $primary-color
                color: $font-color
                border-color: $primary-color
            button:hover
                background-color: $primary-color
                color: $font-color
                border-color: $primary-color
            .menu
                .p-menu
                    background-color: $primary-color
                    border-color: $primary-color
                    .p-menuitem-text
                        color: $font-color
                    .p-menuitem-icon
                        color: $font-color
                a:hover
                    background-color: $hover-color
                a:focus
                    box-shadow: none
