<!-- profile dashboard - user informations -->
<div class="card">
    <p-avatar class="avatar" label="T" size="xlarge" shape="circle"></p-avatar>
    <span class="name">Prénom NOM</span>
    <div class="mail-container">
        <span class="pi">@</span>
        <span class="mail">prenom.nom@campus.academy</span>
    </div>
    <div class="grade-container"> 
        <i class="pi pi-id-card"></i>
        <span class="grade">Promotion B3 InfoTech</span>
    </div>
    <div class="phone-container">
        <i class="pi pi-phone"></i>
        <span class="phone">0673665412</span>
    </div>
    <button pButton type="button" label="Modifier mon mot de passe" (click)="showResetPasswordModal()"></button>
</div>

<!-- reset password modal -->
<p-dialog header="Modification de votre mot de passe" [(visible)]="displayModal" [modal]="true" [dismissableMask]="true" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="modal-content">
        <div class="reset-password-input">
            <label for="reset-password-input">Nouveau mot de passe</label>
            <input pInputText type="password" class="p-inputtext-sm" id="reset-password-input"> 
            <label for="reset-password-input">Confirmation du mot de passe</label>
            <input pInputText type="password" class="p-inputtext-sm" id="reset-password-input"> 
        </div>
        <div class="password-rules">
            <span>Le mot de passe doit :</span>
            <span>contenir au moins 8 caractères</span>
            <span>contenir au moins un caractère numérique</span>
            <span>contenir au moins une lettre</span>
            <span>contenir au moins un caractère spécial</span>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton label="Annuler" icon="pi pi-times" (click)="displayModal=false"></button>
        <button pButton label="Valider" icon="pi pi-check" (click)="displayModal=false"></button>
    </ng-template>
</p-dialog>