<section>
  <h1>SignUI</h1>
  <form id="loginForm" action="#">

    <label for="loginInput">E-mail</label>
    <input type="text" id="loginInput" pInputText required/>

    <label for="passwordInput">Mot de passe</label>
    <input type="password" id="passwordInput" pInputText required/>

    <button pButton type="button" (click)="showDialog()" label="Mot de passe oublié" class="p-button-text"></button>
    <button pButton type="submit" class="p-button-rounded p-button-outlined" label="Se connecter"></button>

  </form>
</section>

<p-dialog header="Mot de passe oublié" [draggable]="false" [modal]="true" [dismissableMask]="true" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  <label for="loginForMDPInput">E-mail de récupération</label><br>
  <input type="text" id="loginForMDPInput" pInputText required/>
  <ng-template pTemplate="footer">
    <button pButton type="button" (click)="dismissDialog()" icon="pi pi-times" class="p-button-rounded p-button-outlined" label="Annuler"></button>
    <button pButton type="button" (click)="dismissDialog()" icon="pi pi-check" class="p-button-rounded p-button-outlined" label="Envoyer"></button>
  </ng-template>
</p-dialog>



<section>

  <button pButton type="button" (click)="showCourseModal()" label="Cours" class="p-button-text"></button>

  <p-dialog header="{{ courseName }}" [draggable]="false" [modal]="true" [dismissableMask]="true" [(visible)]="displayModal" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">

    <ng-container *ngIf="signatureImg === ''; then toSign; else signed"></ng-container>
    <ng-template #toSign>
      <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
    </ng-template>
    <ng-template #signed>
      <div id="signatureDiv">
        <img src="{{signatureImg}}" alt="Signature">
      </div>
    </ng-template>

    <ng-template pTemplate="footer" *ngIf="signatureImg === ''; then toSignButtons"></ng-template>

    <ng-template #toSignButtons >
      <div id="signingButtonsDiv">
        <button pButton (click)="clearPad()" icon="pi pi-times" class="p-button-rounded p-button-outlined" label="Effacer"></button>
        <button pButton (click)="savePad()" icon="pi pi-check" class="p-button-rounded p-button-outlined" label="Sauvegarder"></button>
      </div>
    </ng-template>

  </p-dialog>

</section>
