h1
  font-size: 32px

section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh

form
  display: flex
  flex-direction: column
  background-color: white
  padding: 2rem
  border-radius: 10px

input
  background-color: white
  color: black
  margin-bottom: 20px


canvas
  display: block
  border: 1px solid rgb(187, 178, 178)
  background-color: var(--ion-color-success)

button
  margin: 10px

// For Course Modal
canvas
  margin: auto
#signatureDiv
  display: flex
  flex-direction: row
  justify-content: center
#signingButtonsDiv
  display: flex
  flex-direction: row
  justify-content: center
